@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="Cork Admin" content="Cork Admin - Fast and Lightweight Bootstrap Admin Template.">
    <meta name="keywords" content="admin, admin dashboard, admin template, admin themes, analytics, bootstrap, bootstrap template, bootstrap admin template, bootstrap template admin, bootstrap template for dashboard, crm admin, dark admin, responsive admin dashboard, sales dashboard, sass, ui kit, web app, minimal dashboard">
    <meta name="description" content="Cork Admin - Fast and Lightweight Bootstrap Admin Template.">
    <meta name="author" content="Design Reset">
    <link rel="icon" type="image/x-icon" href="https://designreset.com/wp-content/uploads/2020/01/favicon.ico">
    <title>
        Cork Admin - Responsive HTML &amp; Bootstrap Admin Dashboard Template
    </title>
    <meta name="robots" content="max-image-preview:large">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//s.w.org">
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/designreset.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.8.4" } };
        !function(e, a, t) { var n, r, o, i = a.createElement("canvas"), p = i.getContext && i.getContext("2d"); function s(e, t) { var a = String.fromCharCode; p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0); e = i.toDataURL(); return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL() } function c(e) { var t = a.createElement("script"); t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t) } for (o = Array("flag", "emoji"), t.supports = { everything: !0, everythingExceptFlag: !0 }, r = 0; r < o.length; r++)t.supports[o[r]] = function(e) { if (!p || !p.fillText) return !1; switch (p.textBaseline = "top", p.font = "600 32px Arial", e) { case "flag": return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]); case "emoji": return !s([10084, 65039, 8205, 55357, 56613], [10084, 65039, 8203, 55357, 56613]) }return !1 }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]); t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function() { t.DOMReady = !0 }, t.supports.everything || (n = function() { t.readyCallback() }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function() { "complete" === a.readyState && t.readyCallback() })), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <script src="https://designreset.com/wp-includes/js/wp-emoji-release.min.js?ver=5.8.4" type="text/javascript" defer=""></script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="wp-block-library-css" href="https://designreset.com/wp-includes/css/dist/block-library/style.min.css?ver=5.8.4" type="text/css" media="all">
    <link rel="stylesheet" id="style-css" href="https://designreset.com/wp-content/themes/designreset/style.css?ver=5.8.4" type="text/css" media="all">
    <link rel="stylesheet" id="g-font-css" href="https://fonts.googleapis.com/css?family=Quicksand%3A400%2C500%2C600%2C700&amp;display=swap&amp;ver=1.0.0" type="text/css" media="all">
    <link rel="stylesheet" id="cork-bs-css" href="https://designreset.com/wp-content/themes/designreset/core/framework/bootstrap5x/bootstrapv5.min.css?ver=1" type="text/css" media="all">
    <link rel="stylesheet" id="cork-styles-css" href="https://designreset.com/wp-content/themes/designreset/core/cork/style.css?ver=1" type="text/css" media="all">
    <link rel="https://api.w.org/" href="https://designreset.com/wp-json/">
    <link rel="alternate" type="application/json" href="https://designreset.com/wp-json/wp/v2/pages/25">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://designreset.com/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://designreset.com/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 5.8.4">
    <link rel="canonical" href="https://designreset.com/cork-admin/">
    <link rel="shortlink" href="https://designreset.com/?p=25">
    <link rel="alternate" type="application/json+oembed" href="https://designreset.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdesignreset.com%2Fcork-admin%2F">
    <link rel="alternate" type="text/xml+oembed" href="https://designreset.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdesignreset.com%2Fcork-admin%2F&amp;format=xml">
</head>
<!-- BEGIN LOADER -->
<body>
    <!--  END LOADER -->
    <div class="scroll-to-top">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
    </div>
    <div class="header-container">
        <div id="navHeadWrapper" class="navHeaderWrapper header-image">
            <div class="">
                <nav class="navbar navbar-expand-lg bg-faded header-nav">
                    <div class="container">
                        <ul class="navbar-nav text-center flex-row justify-content-sm-start justify-content-between">
                            <li class="nav-item">
                                <a class="navbar-brand" href="" target="_blank"><img alt="cork" src="https://designreset.com/wp-content/uploads/2022/05/cork-logo.svg"><h4>Cork Admin</h4></a>
                            </li>
                            <li class="nav-item d-sm-none d-inline-block align-self-center ml-sm-0 ml-auto">
                                <a class="nav-link js-scroll-trigger btn buyNow" target="_blank" asp-page="/Account/Login" asp-area="Identity" >Try it Now</a>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-sm-end justify-content-center" id="nav-content">
                            <ul class="navbar-nav text-center flex-row">
                                <li class="nav-item d-sm-block d-none">
                                    <a class="nav-link js-scroll-trigger btn buyNow" target="_blank" asp-page="/Account/Login" asp-area="Identity">Try it Now</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- /NavBar -->
            <div id="headerWrapper" class="">
                <div class="container">
                    <div class="row position-relative">
                        <div class="col-xl-5 order-xl-0 order-1 align-self-center">
                            <div class="header-content">
                                <h1 class="main-header">Create amazing <span class="text-green">Projects</span> with <span class="text-green">Fast</span> and <span class="text-green">light-weight</span> Admin template.</h1>
                                <p class="larger">Our Admin theme contains collection of well-designed demos that will save you a lot of time and effort by not having to start from scratch.</p>
                                <a class="js-scroll-trigger btn checkDemos" href="#demoWrapper"><span class="pulse"></span> 4 Demo Roles <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down"><line x1="12" y1="5" x2="12" y2="19"></line><polyline points="19 12 12 19 5 12"></polyline></svg></a>
                                <a class="js-scroll-trigger btn cta-purchase" target="_blank" asp-page="/Account/Login" asp-area="Identity">Try it now</a>
                                <ul class="features list-inline">
                                    <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg> Clean Code</li>
                                    <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg> Lifetime Updates</li>
                                    <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path></svg> Easy to use</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-7 order-xl-1 order-0">
                            <img src="https://designreset.com/wp-content/uploads/2022/05/cork-header.png" class="d-sm-block d-none header-center img-fluid" alt="">
                            <img src="https://designreset.com/wp-content/uploads/2022/05/cork-header-mobile.png" class="mt-5 d-sm-none d-block header-center img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="custom-shape-divider-bottom-1643294383">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".35" class="shape-fill2"></path>
                        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill1"></path>
                        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="header-height-manager"></div>
    <div class="site-content">
        <div id="advanceMembershipWrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3> <div class="header__bg"></div> A set of useful features for better issue tracking  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down-circle"><circle cx="12" cy="12" r="10"></circle><polyline points="8 12 12 16 16 12"></polyline><line x1="12" y1="8" x2="12" y2="16"></line></svg></h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 align-self-center">
                        <div class="svg-content svg-content7">
                            <div class="svg-content-rounded"></div>
                            <a href="https://designreset.com/cork/html/vertical-dark-menu/app-chat.html" target="_blank">
                                <img src="https://designreset.com/wp-content/uploads/2022/05/app-chat.png" class="advanceMembershipSVG7" alt="app-chat">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-10 align-self-center mx-auto mt-lg-0 mt-5">
                        <div class="advanceMembershipContent7">
                            <h4>Chat</h4>
                            <div class="feature-list">
                                <p>A dynamic tool that enables you two create Messaging, Calling and Video chat applications.</p>
                                <a href="https://designreset.com/cork/html/vertical-dark-menu/app-chat.html" target="_blank" class="primary-cta green w-button">Live Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row alt-row">
                    <div class="col-xl-6 col-lg-6 col-10 align-self-center mx-auto order-lg-0 order-1 mt-lg-0 mt-5">
                        <div class="advanceMembershipContent4">
                            <h4>Mailbox</h4>
                            <div class="feature-list">
                                <p>Orgainze, Save and Arrange your mails with mailbox application.</p>
                                <a href="https://designreset.com/cork/html/vertical-dark-menu/app-mailbox.html" target="_blank" class="primary-cta green w-button">Live Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 align-self-center order-lg-1 order-0">
                        <div class="svg-content svg-content4">
                            <div class="svg-content-rounded"></div>
                            <a href="https://designreset.com/cork/html/vertical-dark-menu/app-mailbox.html" target="_blank">
                                <img src="https://designreset.com/wp-content/uploads/2022/05/app-mailbox.png" class="advanceMembershipSVG7" alt="app-mailbox">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 align-self-center">
                        <div class="svg-content svg-content1">
                            <div class="svg-content-rounded"></div>
                            <a href="https://designreset.com/cork/html/vertical-dark-menu/app-todoList.html" target="_blank">
                                <img src="https://designreset.com/wp-content/uploads/2022/05/app-todo.png" class="advanceMembershipSVG7" alt="app-todo">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-10 align-self-center mx-auto mt-lg-0 mt-5">
                        <div class="advanceMembershipContent1">
                            <h4>To-Do List</h4>
                            <div class="feature-list">
                                <p>Manage and Organize your tasks for everyday use.</p>
                                <a href="https://designreset.com/cork/html/vertical-dark-menu/app-todoList.html" target="_blank" class="primary-cta green w-button">Live Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row alt-row">
                    <div class="col-xl-6 col-lg-6 col-10 align-self-center mx-auto order-lg-0 order-1 mt-lg-0 mt-5">
                        <div class="advanceMembershipContent6">
                            <h4>Invoice</h4>
                            <div class="feature-list">
                                <p>Fast and Responsive application for managing all invoices at one place.</p>
                                <a href="https://designreset.com/cork/html/vertical-dark-menu/app-invoice-list.html" target="_blank" class="primary-cta green w-button">Live Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 align-self-center order-lg-1 order-0">
                        <div class="svg-content svg-content6">
                            <div class="svg-content-rounded"></div>
                            <a href="https://designreset.com/cork/html/vertical-dark-menu/app-invoice-list.html" target="_blank">
                                <img src="https://designreset.com/wp-content/uploads/2022/05/app-invoice-list.png" class="advanceMembershipSVG7" alt="app-invoice">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 align-self-center">
                        <div class="svg-content svg-content3">
                            <div class="svg-content-rounded"></div>
                            <a href="https://designreset.com/cork/html/vertical-dark-menu/app-notes.html" target="_blank">
                                <img src="https://designreset.com/wp-content/uploads/2022/05/app-notes.png" class="advanceMembershipSVG7" alt="app-notes">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-10 align-self-center mx-auto mt-lg-0 mt-5">
                        <div class="advanceMembershipContent3">
                            <h4>Notes</h4>
                            <div class="feature-list">
                                <p>A simple yet useful notes application for creating Reminders, Memos, Checklist etc.</p>
                                <a href="https://designreset.com/cork/html/vertical-dark-menu/app-notes.html" target="_blank" class="primary-cta green w-button">Live Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row alt-row">
                    <div class="col-xl-6 col-lg-6 col-10 align-self-center mx-auto order-lg-0 order-1 mt-lg-0 mt-5">
                        <div class="advanceMembershipContent2">
                            <h4>Scrumboard</h4>
                            <div class="feature-list">
                                <p>Scrumboard helps in assigining task to your team and checking their progress.</p>
                                <a href="https://designreset.com/cork/html/vertical-dark-menu/app-scrumboard.html" target="_blank" class="primary-cta green w-button">Live Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 align-self-center order-lg-1 order-0">
                        <div class="svg-content svg-content2">
                            <div class="svg-content-rounded"></div>
                            <a href="https://designreset.com/cork/html/vertical-dark-menu/app-scrumboard.html" target="_blank">
                                <img src="https://designreset.com/wp-content/uploads/2022/05/app-taskboard.png" class="advanceMembershipSVG7" alt="app-taskboard">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 align-self-center">
                        <div class="svg-content svg-content7">
                            <div class="svg-content-rounded"></div>
                            <a href="https://designreset.com/cork/html/vertical-dark-menu/app-contacts.html" target="_blank">
                                <img src="https://designreset.com/wp-content/uploads/2022/05/app-contacts.png" class="advanceMembershipSVG7" alt="app-contact">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-10 align-self-center mx-auto mt-lg-0 mt-5">
                        <div class="advanceMembershipContent7">
                            <h4>Contacts</h4>
                            <div class="feature-list">
                                <p>Create and Manage your Customers/Team address book with ease.</p>
                                <a href="https://designreset.com/cork/html/vertical-dark-menu/app-contacts.html" target="_blank" class="primary-cta green w-button">Live Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  alt-row last-row">
                    <div class="col-xl-6 col-lg-6 col-10 align-self-center mx-auto order-lg-0 order-1 mt-lg-0 mt-5">
                        <div class="advanceMembershipContent8">
                            <h4>Calendar</h4>
                            <div class="feature-list">
                                <p>Schedule and Plan your activities easily with flexible calendar app.</p>
                                <a href="https://designreset.com/cork/html/vertical-dark-menu/app-calendar.html" target="_blank" class="primary-cta green w-button">Live Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 align-self-center order-lg-1 order-0">
                        <div class="svg-content svg-content8">
                            <div class="svg-content-rounded"></div>
                            <a href="https://designreset.com/cork/html/vertical-dark-menu/app-calendar.html" target="_blank">
                                <img src="https://designreset.com/wp-content/uploads/2022/05/app-calendar.png" class="advanceMembershipSVG7" alt="app-calendar">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="downloadWrapper">
            <div class="container section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3> <div class="header__bg"></div>Kick Start you new project with ease!</h3>
                            <a asp-page="/Account/Login" asp-area="Identity" class="btn">Try it Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footerWrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 align-self-center text-md-right text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mb-0">@@ 2022 CORK Admin, all rights reserved. By <a href="https://designreset.com">Design Reset</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://designreset.com/wp-content/themes/designreset/core/framework/bootstrap5x/bootstrapv5.min.js?ver=1" id="cork-bs-js"></script>
    <script type="text/javascript" src="https://designreset.com/wp-content/themes/designreset/core/cork/script.js?ver=1" id="cork-app_js-js"></script>
    <script type="text/javascript" src="https://designreset.com/wp-includes/js/wp-embed.min.js?ver=5.8.4" id="wp-embed-js"></script>
</body>
</html>
